.page__header {
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 71px;
  background: url(../img/header_background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .logo {
    width: 101px;
  }

  .center__text {
    text-align: center;
  }

  .title {
    @include text($secondary-font-family, 60px, 72px, 400, #ffffff);
  }

  p {
    @include text($primary-font-family, 16px, 22px, 700, #ffffff);
  }

  a {
    @include text($primary-font-family, 11px, 15px, $bold-text, #ffffff);
    letter-spacing: 3.7px;
  }
}

.navigation {
  max-width: 940px;
  @include dispaly(flex, row, space-between);
  margin: 0 auto;
  padding: 25px 0;

  .navigation__list {
    @include dispaly(flex, row, space-between);

    .navigation__item {
      margin-right: 47px;
      &:last-child {
        margin-right: 0;
      }
      a {
        @include text(
          $primary-font-family,
          12px,
          16px,
          $bold-text,
          $main-text-color
        );
      }
    }
  }
}

@media (max-width: 940px) {
  .navigation {
    max-width: 90%;
  }
}